@import "variables";

// nav
body {
    background-image: url(/photos//newBack.jpg);
    background-repeat: no-repeat;
}
header, nav, main, footer{
    max-width: 80rem;
    margin: 0 auto;
    background-color: white;
}
nav ul li {
    max-width: 150px;
}

nav ul li:last-child {
    border-right: 1px solid rgba(0, 0, 0, .3);
}

// / /---------- Main Style------------------
main {

    figure.photo {
        width: 25%-$dblGutter;
    }

    div.blog {
        display: flex;
        flex-wrap: wrap;

    }

    div.blog article {
        width: 33.33% -$dblGutter;

    }


}