@import "variables";

// nav
body {
    background-image: url(../photos/newbackg.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 10%;


}

header,
nav,
main,
footer {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
}


main {
    background-color: white;
}

nav ul li {
    max-width: 150px;
}

nav ul li:last-child {
    border-right: 1px solid rgba(0, 0, 0, .3);
}

// / /---------- Main Style------------------
main {

    figure.photo {
        width: 25%-$dblGutter;
    }

    div.blog {
        display: flex;
        flex-wrap: wrap;


    }

    div.blog article {
        display: table-cell;
        width: 33.33% -$dblGutter;
    }


}