@import "variables";



// / /---------- Main Style------------------
main {
    .trial {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    figure.photo {
        width: 50%-$dblGutter;

    }

    div.blog {
        display: flex;
        flex-wrap: wrap;

    }

    div.blog article {
        width: 50% -$dblGutter;

    }


}