/*SCSS Color*/
$primaryCol:#424e64;
$secondaryCol:#bbc2ca;
$fontColor:#35373a;



/*Font Family*/
$dftFontFamily: 'Lato',
sans-serif;
$normal: 300;
$heavy: 700;


/*Gutter*/
$gutter:2%;
$dblGutter:$gutter*2;